name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10","3.9","3.8","3.7"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt  update
        sudo apt install -y python3-tk
        sudo apt-get install -y xvfb
        sudo apt install python3-pil  python3-pil.imagetk
        
    - name: Pillow test
      run: |
        pip3 list
        which python3
        which pip3
    - name: All test
      run: bash -xv ./test_new_command
